DEPLOYER_PRIVATE_KEY=
HORIZEN_L3_RPC_URL=
BASE_RPC_URL=
HORIZEN_L3_CHAIN_ID=26514
BASE_CHAIN_ID=8453
HORIZEN_L3_EXPLORER=https://horizen.calderaexplorer.xyz
BASE_EXPLORER=https://base.blockscout.com
TREASURY_ADDRESS=
ADMIN_ADDRESS=
MULTISIG_ADDRESS=
SIGNER_ADDRESSES=
SIGNER_THRESHOLD=2
ORACLE_MAX_AGE=900
ORACLE_MAX_DEVIATION_BPS=500
ORACLE_PRICE_DECIMALS=8
ETH_PRICE_DECIMALS=8
ETH_USD_ORACLE_ID=eth-usd
BASE_CRATES_ADDRESS=
HORIZEN_CRATES_ADDRESS=
HORIZEN_STAKING_ADDRESS=
HORIZEN_SCRATES_ADDRESS=
FEE_REBATE_CONTROLLER_ADDRESS=
SIGNED_ORACLE_ADDRESS=
CRATES_TOTAL_SUPPLY=100000000000000000000000000
PRESALE_TREASURY=
PRESALE_CRATES_PER_ETH=100000
PRESALE_MAX_ETH=10
PRESALE_SEED_FROM_TREASURY=false
PRESALE_SEED_AMOUNT=
